{% extends "base.html" %}

{% block title %}
Le Coin Indé - Outils
{% endblock %}

{% block content %}

<h1>Le Coin Indé</h1>

<div class="tools">

    <a href="/actus" class="tool">
        <h2>Actus</h2>
        <p>Générer des publications à partir de jeux Steam.</p>
    </a>

    <a href="/images" class="tool">
        <h2>Images</h2>
        <p>Générer différents effets sur des images.</p>
    </a>

    <a href="/quiz" class="tool">
        <h2>Quiz</h2>
        <p>Gérer les jeux et catégories du quiz.</p>
    </a>

    <a href="/indiecord" class="tool">
        <h2>Indiecord</h2>
        <p>Gérer les personnages et les pages du bot.</p>
    </a>

</div>

{% endblock %}